*{
  font-family:'Dangrek';
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.fade-in-image { 
  animation: fadeIn 2s; 
}
.fade-in-text {
  animation: fadeIn 1.5s; 
}
header, footer{
        background-color: #1FC454;
        padding: 5px;
        text-align: center;
}
header{
  background: rgb(167,255,153);
  background: linear-gradient(90deg, rgba(167,255,153,1) 0%, rgba(95,224,107,1) 0%, rgba(0,168,73,1) 100%);
  border-bottom: 3.5px solid #009B34; 
  height: 200px;
  display: block;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
body{
  min-height: 100vh;
  position: relative;
  flex-direction: column;
  margin: 0;
  padding-bottom: 100px;
}

nav ul li {
display: inline-block
}
 .head{
    background: #ffc92e;
    border:4px solid #009B34;
    border-bottom:none;
    text-align: center;
    height: 70px;
    width: 60%; 
    margin: 0 auto;
    padding-bottom: 30px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
}
nav ul li a.headnav{
    text-decoration: none;
    padding: 0px 30px;
    color: #009B34 ;
    border-left: 2px solid #009B34 ;
    border-right: 2px solid #009B34 ;
  }
  nav ul li a.headnav:hover{
    color:#E18508   ;
  }
  nav ul li a.footnav{
    text-decoration: none;
    padding: 30px 20px;
    color: black;
  }

a.big-font {
font-size: 46px;
font-weight: bold;
margin-right: 20px;
}
a.midfont {
font-size: 24px;
padding: 20px;
line-height: 60px;
}
body{
  background: rgb(192,247,174);
  background: linear-gradient(0deg, rgba(192,247,174,1) 0%, rgba(228,255,180,1) 100%);
}

footer {
    background: rgb(167,255,153);
    background: linear-gradient(90deg, rgba(167,255,153,1) 0%, rgba(95,224,107,1) 0%, rgba(0,168,73,1) 100%);
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    min-height: 7%;
    width: 100%;        
  }
.box{
    height: 300px;
    width: 200px;
    margin: 20px;
    box-sizing: inherit;
    border: 4px solid #009B34 ;
    background-color: #F5FFE7 ;
    border-radius: 40px 0px 0px 0px;
    text-align: center;
    overflow: hidden;
}
.boxabout{
  height: 450px;
  width: 320px;
  padding-top: 30px;
  padding-bottom: 10px;
  margin: 20px;
  box-sizing: inherit;
  border: 4px solid #009B34 ;
  background: rgb(160,255,153);
background: linear-gradient(0deg, rgba(160,255,153,1) 0%, rgba(103,233,188,1) 100%);
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
}
.container1 {
  padding-top: 10px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  transition: 0.2s; 

}
.containerabout {
  padding-top: 10px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  transition: 0.2s; 

}
.description{
  display: block;
  position:relative;
  
}
article.fooddesc{
  padding-left: 100px;
}
h4{
  font-weight: 500;
}
h3{
    font-weight: 400;
    color: #232529;
}
h2{
  font-weight: 200;
}
h1{
  font-size: 36px;
  color: #232529;
}
h1.foodselection{
  font-size: 32px;
  text-align: center;
  padding-top: 20px;
  color: #009B34;
}
fieldset.fieldset1{
  top: 50%;
  left: 50%;
  margin-top: 100px;
  margin-bottom: 28px;
  margin-left: auto;
  margin-right: auto;
  min-height: 235px;
  min-width: 320px;
  max-width: 412px;
  width: 338px;
  border: 3px solid #36a27d ;
  border-radius: 20px;
  background: rgb(128,236,182);
  background: linear-gradient(0deg, rgba(128,236,182,1) 0%, rgba(203,255,132,1) 100%);
  height: auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
fieldset.fieldset2{
  margin-top: 30px;
  margin-bottom: 28px;
  margin-left: auto;
  margin-right: auto;
  width: 690px;
  border: 3px solid #32B259 ;
  border-radius: 20px;
  background-color: #FAFFED;
  height: auto;
  padding: 30px;
}
fieldset.fieldset3{
  margin-top: 50px;
  margin-bottom: 28px;
  margin-left: auto;
  margin-right: auto;
  width: 850px;
  border: 3px solid #32B259 ;
  border-radius: 20px;
  background-color: #FAFFED;
  height: auto;
  padding: 20px;
}
.formfield {
  display: flex;
}
legend{
  font-size: 40px;
}
label{
  width: 80px;
  display: inline-block;
}
.memberdesc{
  width: 100%;
  text-align:center;
  line-height: 1.5em;
  margin-bottom: 40px;
}
input.input1{
  width: 300px;
  height: 20px;
  padding: 10px 6px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
input.input2{
    width: 150px;
    height: 20px;
    padding: 10px 6px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
button{
  width: 250px;
  text-align: center;
  vertical-align:middle;
  display: inline-block;
  margin: 0px auto;
}
.fooddescription{
  font-size: 18px;
}
img.food{
  max-width: 450px;
  height: auto;
  display: block;
  margin: 0px auto;
  padding-bottom: 40px;
}
img.imglogin{
  vertical-align: middle;
  display: inline-block;
  margin: 0px auto;
}
button.reg{
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
button.two{
  border-radius: 50%;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
.newbody{
  background: rgb(231,255,194);
background: linear-gradient(90deg, rgba(231,255,194,1) 0%, rgba(178,246,190,0.9842105263157894) 53%, rgba(168,233,181,1) 100%, rgba(98,222,181,1) 100%);
}

#navbar-after-login {
  display: none;
}